.clear{clear:both;}/* clear float */
.col_1_of_single1:first-child {
	margin-left: 0;
}
.span_1_of_single1{
	width: 30.7%;
	border: 1px solid #DDD;
}
.col_1_of_single1{
	display: block;
	float: left;
	margin: 1% 0 1% 3.6%;
}
.span_1_of_single1 {
	width: 100% !important;
    height: 270px !important;
}
.view1 .mask1, .view1 .content {
		top: 120px;
		left: 80px;
	}
.view1{
   overflow: hidden;
   position: relative;
}
.view1 .mask1,.view1 .content {
   position: absolute;
   overflow: hidden;
   top:130px;
   left:90px;
}
.view-fifth1 img {
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}
.view-fifth1 .mask1 {
  -webkit-transform: translateX(-300px);
   -moz-transform: translateX(-300px);
   -o-transform: translateX(-300px);
   -ms-transform: translateX(-300px);
   transform: translateX(-300px);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}
.view-fifth1:hover .mask1 {
   -webkit-transform: translateX(0px);
   -moz-transform: translateX(0px);
   -o-transform: translateX(0px);
   -ms-transform: translateX(0px);
   transform: translateX(0px);
}
.top_box{
	padding:6%;
}
.top_box .css3 img {
	-webkit-transition-duration: 0.5s;
	/* Webkit: Animation duration; */
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
    width: 250px;
    cursor: pointer;
}
.top_box:hover .css3 img{
	-webkit-transform: scale(0.9);
	/* Webkit: Scale up image to 1.2x original size; */
	-moz-transform: scale(0.9);
	-o-transform: scale(0.9);
	opacity: 1;
    width: 250px;
}
p.m_2{
	color:#999;
	font-size:0.8125em;
}
.grid_img{
	text-align:center;
}