/*custom font*/
@import url(http://fonts.googleapis.com/css?family=Montserrat);

* {
     margin: 0;
     padding: 0;
}

 html {
     height: 100%;
            /*Image only BG fallback*/
    background: url('http://thecodeplayer.com/uploads/media/gs.png');
            /*background = gradient + image pattern combo*/
     background: linear-gradient(rgba(196, 102, 0, 0.2), rgba(155, 89, 182, 0.2)), url('http://thecodeplayer.com/uploads/media/gs.png');
}

body {
     font-family: montserrat, arial, verdana;
}
        /*form styles*/
#msform {
    width: 1020px;
    margin: 2% auto;
    position: relative;
}

 #msform input, #msform textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
}

#msform fieldset {
   background: white;
  border: 0 none;
   border-radius: 3px;
   box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
   padding: 20px 30px;
   box-sizing: border-box;
  width: 100%;
    margin: 0px auto;
   min-height: 450px;
   /*stacking fieldsets above each other*/
   position: absolute;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
   display: none;
}
            /*buttons*/
#msform .action-button {
  width: 100px;
  background: #27AE60;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
  text-align: center;
}

 #msform .action-button:hover, #msform .action-button:focus {
   box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
        /*headings*/
.fs-title {
   font-size: 15px;
   text-transform: uppercase;
   color: #2C3E50;
   margin-bottom: 10px;
}

.fs-subtitle {
   font-weight: normal;
   font-size: 13px;
   color: #666;
   margin-bottom: 20px;
}
/*progressbar*/
 #progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    counter-reset: step;
}

#progressbar li {
     list-style-type: none;
     color: white;
     text-transform: uppercase;
     font-size: 9px;
     width: 170px;
     float: left;
     position: relative;
     text-align: center;
}

#progressbar li:before {
     content: counter(step);
     counter-increment: step;
     width: 20px;
     line-height: 20px;
     display: block;
     font-size: 10px;
     color: #333;
     background: white;
     border-radius: 3px;
     margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
   background: white;
   position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
}

 #progressbar li:first-child:after {
   /*connector not needed before the first step*/
   content: none;
}
                /*marking active/completed steps green*/
                /*The number of the step and the connector before it = green*/
 #progressbar li.active:before, #progressbar li.active:after {
    background: #27AE60;
    color: white;
}

#div1, #div2
{float:left; width:400px; height:500px; margin:10px;padding:10px;border:1px solid #aaaaaa;}


p {margin-bottom: 1em;}


/*
	Forms
------------------------------------------------------------------- */

.input-button {
	background-color: #E2E2E2;
	border: 1px outset #AAA;
	color: #123;
	font-weight: bold;
	padding: 4px 5px;
}
.input-button:active {border-style: inset;}


/*
	Alignment
------------------------------------------------------------------- */

/* Floats */

.left {float: left;}
.right {float: right;}

.clear,.clearer {clear: both;}
.clearer {
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
}


/*
	Example specifics
------------------------------------------------------------------- */

/* Layout */

#center-wrapper {
	margin: 0 auto;
	width: 920px;
}


/* Columns */

.column {
	margin-left: 2%;
    width: 470px;
    height: 500px;
    overflow: auto;
}
.column.first {margin-left: 0;}


/* Sortable items */

.sortable-list {
	background-color: #F93;
	list-style: none;
	margin: 0;
	min-height: 60px;
	padding: 10px;
}
.sortable-item {
	background-color: #FFF;
	border: 1px solid #000;
	cursor: move;
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
	padding: 20px 23px;
	text-align: center;
}


/* Disabled list */

#example-2-4 .sortable-list {background-color: #CCC;}
#example-2-4 .sortable-item {cursor: default;}