body
{
    padding: 0px;
    margin: 0px;
}

#header
{
    padding: 20px;
    background-color: #d7e5e4;
    border-bottom: #5f9482 solid 2px;
    color: #1e4638;
    font-size: 24px;
}

.show-image {
    width:60%; 
    height:620px;
    background-color: #D7E5E4;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    outline: none;
    overflow: auto;
}

.options-image {
    width: 36%;
    height: 520px;
    margin-left: 2%; 
    
}

.options-top {
    margin-bottom: 10px;
     background-color: #D7E5E4;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    outline: none;
    overflow: auto;
    height: 300px;
    padding: 0px 10px;
}

.options-bottom {
     background-color: #D7E5E4;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    outline: none;
    overflow: auto;
    height: 210px;
    padding: 0px 10px;
}

.page
{
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
}
a
{
	text-decoration: none;
}
fieldset
{
	border: none;
}
.clearfix:after
{
    font-size: 0px;
    content: ".";
    display: block;
    height: 0px;
    visibility: hidden;
    clear: both;
}
.bar
{
	width:770px;
	height: 52px;
	background: url("img/live_preview_img/aspp_bar.png") no-repeat;
	color: #5596bc;
	margin-bottom: 15px;
	margin-top: 30px;
	padding-left: 30px;
	padding-top: 18px;
}
.title
{
	margin-top: 15px;
	font-size: 26px;
	color: #5596bc;
}
.buttonPopup
{
	float: left;
	width: 150px;
	height: 59px;
	display: block;
	margin-left: 10px;
}
.button_gray
{
	background-image: url("img/live_preview_img/aspp_button_gray.png");
}
.button_green
{
	background-image: url("img/live_preview_img/aspp_button_green.png");
}
.button_blue
{
	background-image: url("img/live_preview_img/aspp_button_blue.png");
}
.button_maroon
{
	background-image: url("img/live_preview_img/aspp_button_maroon.png");
}
.button_orange
{
	background-image: url("img/live_preview_img/aspp_button_orange.png");
}
.popup
{
	width: 788px;
	position: absolute;
	display: none;
}
.overlay
{
	left: 0px;
	top: 0px;
	position: absolute;
	background-color: #000000;
	z-index: 100;
}
.content .title
{
	margin-top: 10px; 
	margin-bottom: 20px; 
	font-size: 24px;
	color: #444444;
}
.alert
{
	clear: both;
	border: 1px solid #c83348;
	background-color: #ec7f7f;
	-moz-border-radius: 10px;
	-moz-box-shadow: 3px 3px 20px #ec7f7f;
	-webkit-border-radius: 10px;
	-webkit-box-shadow: 3px 3px 20px #ec7f7f;
	border-radius: 10px;
	box-shadow: 3px 3px 20px #ec7f7f;
	padding: 10px;
	margin-bottom: 15px;
	font-size: 12px;
	text-align: center;
	line-height: 150%;
}
.message
{
	clear: both;
	border: 1px solid #c8c8c8;
	background-color: #e2e2e2;
	-moz-border-radius: 10px;
	-moz-box-shadow: 3px 3px 20px #e2e2e2;
	-webkit-border-radius: 10px;
	-webkit-box-shadow: 3px 3px 20px #e2e2e2;
	border-radius: 10px;
	box-shadow: 3px 3px 20px #e2e2e2;
	padding: 10px;
	margin-bottom: 15px;
	font-size: 12px;
	text-align: center;
	line-height: 150%;
}
/* === step process panel === */
.panel
{
	background-color: #ffffff;
	border: 1px solid #dbe6ee;
	padding: 10px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
/* === steps === */
.step
{
	float: left;
	position: relative;
	margin-left: -20px;
	width: 351px;
	height: 43px;
	font-size: 16px;
	padding-left: 20px;
	padding-top: 18px;
	background-image: url("img/sprite_with_icons.png");
	background-repeat: no-repeat;
	outline: none;
}
.step1, .step2, .step3
{
	width: 237px;
}
.p2Step1, .p2Step2, .p2Step3, .p2Step4
{
	width: 173px;
}
.p3Step1, .p3Step2, .p3Step3, .p3Step4
{
	width: 173px;
}
.p4Step1
{
	width: 202px;
}
.p4Step2
{
	width: 160px;
}
.p4Step3
{
	width: 135px;
}
.p4Step4
{
	width: 100px;
}
.p4Step5
{
	width: 85px;
}
.p5Step1, .p5Step2, .p5Step3
{
	width: 240px;
}
.p6Step1, .p6Step2, .p6Step3, .p6Step4
{
	width: 175px;
}
.p7Step1, .p7Step2
{
	width: 371px;
}
.p8Step1, .p8Step2, .p8Step3
{
	width: 240px;
}
/* === steps labels === */
.stepLabel
{
	position: absolute;
	top: 19px;
	right: 30px;
}
.stepLabelLast
{
	position: absolute;
	top: 19px;
	right: 25px;
}
/* === contents === */
.content
{
	clear: both;
	padding: 10px;
	line-height: 150%;
}
/* === nextPrevButtons === */
.nextPrevButtons
{
	clear: both;
	width: 310px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	padding-bottom: 10px;
}
.nextPrevButtons .button:first-child
{
	margin-right: 10px;
}
.nextPrevButtons .button
{
	float: left;
	display: block;
	width: 150px;
	height: 34px;
	padding-top: 12px;
	text-align: center;
	background-image: url("img/sprite_buttons.png");
	background-repeat: no-repeat;
	cursor: pointer;
}
.nextPrevButtons .inactiveButton
{
	background-position: -10px -310px;
	color: #ffffff;
}
/* === boxStart === */
.boxStart
{
	float: left;
	width: 6px;
	height: 60px;
	background: url("img/sprite_with_icons.png") no-repeat;
}

.step-blue-gray
{
	color: #999999;
	background-position: -10px -10px;
}
.step1-blue-gray, .boxStart-blue-gray
{
	color: #ffffff;
	background-position: -10px -170px;
}
.nextPrevButtons .activeButton-blue-gray
{
	color: #999999;
	background-position: -10px -10px;
}
.nextPrevButtons .activeButton-blue-gray:hover
{
	color: #ffffff;
	background-position: -10px -130px;
}
.step-blue-green
{
	color: #ffffff;
	background-position: -10px -90px;
}
.step1-blue-green, .boxStart-blue-green
{
	background-position: -10px -170px;
}
.nextPrevButtons .activeButton-blue-green
{
	color: #ffffff;
	background-position: -10px -70px;
}
.nextPrevButtons .activeButton-blue-green:hover
{
	background-position: -10px -130px;
}
.step-blue-maroon
{
	color: #ffffff;
	background-position: -10px -250px;
}
.step1-blue-maroon, .boxStart-blue-maroon
{
	background-position: -10px -170px;
}
.nextPrevButtons .activeButton-blue-maroon
{
	color: #ffffff;
	background-position: -10px -190px;
}
.nextPrevButtons .activeButton-blue-maroon:hover
{
	background-position: -10px -130px;
}
.step-blue-orange
{
	color: #ffffff;
	background-position: -10px -330px;
}
.step1-blue-orange, .boxStart-blue-orange
{
	background-position: -10px -170px;
}
.nextPrevButtons .activeButton-blue-orange
{
	color: #ffffff;
	background-position: -10px -250px;
}
.nextPrevButtons .activeButton-blue-orange:hover
{
	background-position: -10px -130px;
}
.step-green-blue
{
	color: #ffffff;
	background-position: -10px -170px;
}
.step1-green-blue, .boxStart-green-blue
{
	background-position: -10px -90px;
}
.nextPrevButtons .activeButton-green-blue
{
	color: #ffffff;
	background-position: -10px -130px;
}
.nextPrevButtons .activeButton-green-blue:hover
{
	color: #ffffff;
	background-position: -10px -70px;
}
.step-green-gray
{
	color: #999999;
	background-position: -10px -10px;
}
.step1-green-gray, .boxStart-green-gray
{
	color: #ffffff;
	background-position: -10px -90px;
}
.nextPrevButtons .activeButton-green-gray
{
	color: #999999;
	background-position: -10px -10px;
}
.nextPrevButtons .activeButton-green-gray:hover
{
	color: #ffffff;
	background-position: -10px -70px;
}
.step-green-maroon
{
	color: #ffffff;
	background-position: -10px -250px;
}
.step1-green-maroon, .boxStart-green-maroon
{
	background-position: -10px -90px;
}
.nextPrevButtons .activeButton-green-maroon
{
	color: #ffffff;
	background-position: -10px -190px;
}
.nextPrevButtons .activeButton-green-maroon:hover
{
	background-position: -10px -70px;
}
.step-green-orange
{
	color: #ffffff;
	background-position: -10px -330px;
}
.step1-green-orange, .boxStart-green-orange
{
	background-position: -10px -90px;
}
.nextPrevButtons .activeButton-green-orange
{
	color: #ffffff;
	background-position: -10px -250px;
}
.nextPrevButtons .activeButton-green-orange:hover
{
	background-position: -10px -70px;
}
.step-maroon-blue
{
	color: #ffffff;
	background-position: -10px -170px;
}
.step1-maroon-blue, .boxStart-maroon-blue
{
	background-position: -10px -250px;
}
.nextPrevButtons .activeButton-maroon-blue
{
	color: #ffffff;
	background-position: -10px -130px;
}
.nextPrevButtons .activeButton-maroon-blue:hover
{
	background-position: -10px -190px;
}
.step-maroon-gray
{
	color: #999999;
	background-position: -10px -10px;
}
.step1-maroon-gray, .boxStart-maroon-gray
{
	color: #ffffff;
	background-position: -10px -250px;
}
.nextPrevButtons .activeButton-maroon-gray
{
	color: #999999;
	background-position: -10px -10px;
}
.nextPrevButtons .activeButton-maroon-gray:hover
{
	color: #ffffff;
	background-position: -10px -190px;
}
.step-maroon-green
{
	color: #ffffff;
	background-position: -10px -90px;
}
.step1-maroon-green, .boxStart-maroon-green
{
	background-position: -10px -250px;
}
.nextPrevButtons .activeButton-maroon-green
{
	color: #ffffff;
	background-position: -10px -70px;
}
.nextPrevButtons .activeButton-maroon-green:hover
{
	background-position: -10px -190px;
}
.step-maroon-orange
{
	color: #ffffff;
	background-position: -10px -330px;
}
.step1-maroon-orange, .boxStart-maroon-orange
{
	background-position: -10px -250px;
}
.nextPrevButtons .activeButton-maroon-orange
{
	color: #ffffff;
	background-position: -10px -250px;
}
.nextPrevButtons .activeButton-maroon-orange:hover
{
	background-position: -10px -190px;
}
.step-orange-blue
{
	color: #ffffff;
	background-position: -10px -170px;
}
.step1-orange-blue, .boxStart-orange-blue
{
	background-position: -10px -330px;
}
.nextPrevButtons .activeButton-orange-blue
{
	color: #ffffff;
	background-position: -10px -130px;
}
.nextPrevButtons .activeButton-orange-blue:hover
{
	background-position: -10px -250px;
}
.step-orange-gray
{
	color: #999999;
	background-position: -10px -10px;
}
.step1-orange-gray, .boxStart-orange-gray
{
	color: #ffffff;
	background-position: -10px -330px;
}
.nextPrevButtons .activeButton-orange-gray
{
	color: #999999;
	background-position: -10px -10px;
}
.nextPrevButtons .activeButton-orange-gray:hover
{
	color: #ffffff;
	background-position: -10px -250px;
}
.step-orange-green
{
	color: #ffffff;
	background-position: -10px -90px;
}
.step1-orange-green, .boxStart-orange-green
{
	background-position: -10px -330px;
}
.nextPrevButtons .activeButton-orange-green
{
	color: #ffffff;
	background-position: -10px -70px;
}
.nextPrevButtons .activeButton-orange-green:hover
{
	background-position: -10px -250px;
}
.step-orange-maroon
{
	color: #ffffff;
	background-position: -10px -250px;
}
.step1-orange-maroon, .boxStart-orange-maroon
{
	background-position: -10px -330px;
}
.nextPrevButtons .activeButton-orange-maroon
{
	color: #ffffff;
	background-position: -10px -190px;
}
.nextPrevButtons .activeButton-orange-maroon:hover
{
	background-position: -10px -250px;
}
