body
{
    padding: 0px;
    margin: 0px;
}

#header
{
    padding: 20px;
    background-color: #d7e5e4;
    border-bottom: #5f9482 solid 2px;
    color: #1e4638;
    font-size: 24px;
}
